repositories = {
  "max-weather-api" = {}
  "max-weather-lambda-authorizer" = {
    keep_tagged_image_count    = 5
    untagged_image_expiry_days = 14
  }
}

image_tag_mutability       = "MUTABLE"
scan_on_push               = true
keep_tagged_image_count    = 10
untagged_image_expiry_days = 7

tags = {
  Project     = "max-weather"
  Environment = "poc"
  ManagedBy   = "terraform"
}
